.all_boxes{
width: 150px;
height: 50px;
color: FFF;
margin-bottom: 10px;
padding-left: 5px;
padding-top: 10px;
padding-bottom: 10px;             
border: 1px solid black
}

h1 {
	color: #663399;
	text-decoration: underline; 
}


#red {
	background-color: #F00; 
}

#orange {
	background-color: #FF6600;
	margin-left: 30px;
}

#yellow {
	background-color: #FFFF00;
	margin-left: 60px;
}
#green {
	background-color: #0F0;
	margin-left: 90px;
}
#blue {
	background-color: #00F;
	margin-left: 120px;
}
#violet {
	background-color: #663399;
	margin-left: 150px;
}